.icon-messenger {
    // background-image: url('../images/messenger.png');
    height: 38px;
    width: 38px;
    position: absolute;
    left: 5px;
    background-size: 100%;
    top: -1px;
}
.home-banner {
    max-width: 100%;
    overflow: hidden;
    height: 88vh;
    position: relative;

    @media(max-width: 1024px) { 
        height: 65vh;
    }

    @media(max-width: 991px) { 
        height: 48vh;
    }

    @media(max-width: 768px) { 
        height: 75vh;
    }

    video {
        width: 100%;
    }
}

.home-banner iframe {
    transform: scale(1.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.home-banner iframe .ytp-pause-overlay
 {
    bottom:-200px; //give !important if not working
 }

.home-banner .home-banner-desc {
    position: absolute;
    bottom: 7rem;
    color: #fff;
    width: 45%;
    background-color: rgba(22, 38, 41, 0.78);
    padding: 20px;
}
.home-banner .home-banner-desc h1 {
    font-size: 55px;
    font-weight: 100;
}
.single-banner-title {
    position: absolute;
    bottom: 75px;
}
.single-banner-title h1 {
    color: #fff;
    @media(max-width: 767px) { 
        font-size: 30px;
    }
}
.singlepage-height {
    min-height: calc(100vh - 457px);
}
.navbar-light .navbar-brand {
    color: #fff;

    @media(min-width: 1425px) { 
    max-width: 140px;
    }
}
.navbar-light .navbar-brand:hover {
    color: #d0cece;
}
.main-navbar {
    height: 10vh;
    right: 0;
    left: 0;
    width: 100%;
    // background: linear-gradient(0deg,rgba(34,47,58,0),rgba(34,47,58,2.9));
    z-index: 1;
    background-color: $blue;
}
.main-navbar .navbar-nav .nav-link {
    color: #fff;
    padding-left: 15px;
    position: relative;
    width: fit-content;
    border: solid 2px transparent;
    content: "";
    font-size: 14px;
    font-family: $montsterrat;
}
.main-navbar .nav-item .nav-link:hover {
    color: $lightYellow;
}
.main-navbar .nav-item.active .nav-link:after,
.main-navbar .nav-item .nav-link:hover:after {
    border: solid 2px $lightYellow;
    content: "";
    width: 100%;
    height: 2px;
    display: block;    

    @media(max-width: 767px) { 
        display: none;
    }
}
.main-navbar .btn-custom {
    color: #fff;
    background-color: #254E58;
    border-color: #254E58;
}
.main-navbar .btn-custom:hover {
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}
.main-navbar .btn-custom:focus {
    box-shadow: none;
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}

.navbar-nav li.nav-item {
    display: inline;
}

.navbar-nav li.nav-item .nav-item {
    display: inline-block;
}

.dropdown-menu {
    top: 53px;
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}


.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    color: $lightYellow;
}

.view-more .btn-custom {
    color: #fff;
    background-color: #254E58;
    border-color: #254E58;
}
.view-more .btn-custom:hover {
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}
.main-navbar .nav ul li a {
    font-weight: 500;
    font-size: 14px;
}

.main-navbar .dropdown-item:hover, 
.main-navbar .dropdown-item:focus {
    background-color: $lightYellow;

    @media(max-width: 767px) { 
        background-color: transparent;
    }

}

.main-navbar .nav .contact-us {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.section {
    padding: 20px 0;
}
.section-title:after {
    border: solid 2px #ae3120;
    content: "";
    width: 40%;
    height: 4px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.accredited-developer .developers-logo img {
    width: 80%;
    border-radius: 7px;
}
.section-title {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    width: fit-content;
    margin: auto;

    @media(max-width: 767px) { 
        font-size: 20px;
        padding-bottom: 15px;
    }

    p {

        @media(max-width: 767px) { 
            font-size: 14px;
        }
    }
}
.project-block {
    border: solid 1px #a3a8ad;
    margin-bottom: 4rem;
}
.project-block img {
    width: 100%;
    height: 100%;
}
.project-body {
    padding: 15px;
}
.project-body p {
    margin-bottom: 0;
}
.project-body h3 {
    font-size: 20px;
    font-weight: 500;
}
.project-body h3 span {
    font-size: 18px;
    font-weight: 400;
}
.project-body h3 a {
    color: #000;
}
.project-image {
    height: 350px;
    overflow: hidden;
}

.featured-image img {
    width: 100%;
}
.new-projects .view-more {
    padding: 42px 0;
}

.breadcrumb {
    background-color: transparent;
    padding: .75rem 0;
}
.project-pages .project-image {
    height: 280px;
}
/*******Home Page******/
.featured-projects .featured-desc {
    padding: 45px 0;
    color: #fff;
}
.featured-projects .featured-image {
    padding: 45px 0;
}
.featured-projects {
    background-color: #254E58;
}
.featured-projects h2 {
    color: #fff;
}

.single-banner {
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: block;
    background-size: cover;
    position: relative;

    @media(max-width: 767px) { 
        height: 150px;
    }
}
.single-banner .overlay {
    position: absolute;
    height: 400px;
    background-color: #000;
    width: 100%;
    opacity: 0.5;

    @media(max-width: 767px) { 
        height: 150px;
    }
}
.breadcrumb {
    position: absolute;
    bottom: 1px;
}
.breadcrumb .breadcrumb-item a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb-item.active {
    color: #808080;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #808080;
    content: "/";
}
.project-page-body {
    margin-top: 25px;
}
img {
    width: 100%;
}
/*******About Us Page******/
.aboutus-banner {
    // background-image: url(../images/about-us.jpg);
    background-position: top;
    height: 80vh;

    @media(max-width: 991px) { 
        height: 400px;
    }
    @media(max-width: 767px) { 
        height: 200px;
    }

}
.aboutus-banner .overlay {
    position: absolute;
    height: 400px;
    background-color: #000;
    width: 100%;
    opacity: 0.5;
    height: 825px;
}
.aboutus-banner .single-banner-title {
    position: absolute;
    bottom: 100px;
}
/*******House and Lot******/
.house-lot-banner {
    // background-image: url(../images/house-lot-banner.jpg);
    background-position: center;
}
.houseandlot-body {
    margin-bottom: 5rem;
}
.houseandlot-body ul {
    list-style: none;
    padding-inline-start: 0;
}
.houseandlot-body .nav-link {
    padding: .5rem 0;
    display: inline;
}
.project-pages h2 {
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: bold;
}


/*******Condominium******/
.condominium-banner {
    // background-image: url(../images/astra.jpg);
    background-position: center;
}

/*******Contact Us******/
.contactus-banner {
    // background-image: url(../images/contactus.jpg);
    background-position: center;
    height: 270px;

    .overlay {
        height: 270px;
        
        @media(max-width: 767px) { 
            height: 150px;
        }
    }

    @media(max-width: 767px) { 
        height: 150px;
    }
}
.contactus-right {
    border: solid 1px #254E58;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.contactus-right-title {
    border-bottom: solid 1px #254E58;
    padding: 10px 35px;
}

.phone {
    border-bottom: solid;
    border-bottom: solid 1px #254E58;
}

.office {
    border-bottom: solid 1px #254E58;
    padding-top: 15px;
}
.contactus-right-body {
    padding: 35px;
}
.fb-page {
    padding-top: 15px;
    word-break: break-word;
}
.send-message-navbar {
    margin-left: 15px;
}
.contactus-body .form-control:focus {
    border-color: #254E58;
    box-shadow: none;
}
/*******Project Page******/
.project-page {
    padding-top: 0;
}
.project-page-banner {
    // background-image: url(../images/robins-lane.jpg);
    background-position: center;
}
.project-page-tabs .nav-tabs {
    border-bottom: none;
}

.project-page-tabs {
    background-color: #696666;
    height: 8vh;
}
.project-page-tabs .nav-tabs .nav-item .nav-link {
    margin-top: 12px;
    color: #fff;
    margin-right: 70px;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
}
.project-page-tabs .nav-tabs .nav-item .nav-link:hover {
    border-bottom: solid 3px #88BDBC;
}
.project-page-tabs .nav-tabs .nav-item .nav-link.active {
    border-bottom: solid 3px #88BDBC;
    color: #cecbcb;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.project-gallery img {
    width: 100%;
    border: solid 1px #254E58;
    height: 370px;
}
.project-page-body .project-gallery .first-row {
    margin-bottom: 3rem;
}
/*******Footer********/
.footer {
    background-color: #a64942;
    color: #fff;
    padding-top: 8px;

    @media(max-width: 767px) { 
        text-align: center;
        padding: 15px 0;
    }

    .social-media {

         @media(max-width: 767px) { 
            text-align: center !important;
        }
    }
}
.footer-send-message .messenger-btn {
    margin-bottom: 15px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 55px;
    padding: 8px;
    z-index: 1;
    background-color: #2a3461;
    border: 0;
    box-shadow: 0 0 2px 3px #00000052;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;

}
.footer p {
    margin: 0;

    @media(max-width: 767px) { 
        font-size: 14px;
    }
}
.footer .social-media a {
    margin-left: 15px;
    margin-left: 15px;
    color: #fff;
    font-size: 20px;

}
/* 

====== Zoom effect ======

*/
.image-popups img {
    cursor: zoom-in;
}
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

.overlay-image {
        position: absolute;
        bottom: 63px;
        left: 0;
        right: 0;
        width: 95%;
        height: 0;
        background-color: rgba(0, 150, 136, 0.77);
        text-align: center;
        margin: auto;
        opacity: 0;
}

.overlay-image a {
    top: 220px;
    color: #fff;
    position: absolute;
    right: 185px;
}
.overlay-image .fa-external-link {
    margin-left: 15px;
}
.project-block:hover .overlay-image {
    color: #fff;
    height: 89%;
    transition: .5s all;
    font-size: 28px;
    opacity: 1;
}
.project-block:hover .overlay-image .fa-external-link {
    margin-right: 10px;
}

/*****House and lot overly*****/
.project-pages .overlay-image {
    bottom: 65px;
    width: 93.1%;
}
.project-pages .project-block:hover .overlay-image {
    height: 87%;
}
.project-pages .project-block:hover .overlay-image .fa-external-link {
    margin-right: 10px;
}
.project-pages .overlay-image a {
    top: 180px;
    right: 135px;
}


