// Brand Colors
$blue: #293462;
$red: #a64942;
$darkRed: #ad251d;
$lightYellow: #fff1c1;

// Fonts
$roboto: 'Roboto', sans-serif;
$bebas: 'Bebas Neue', cursive;
$playfair: 'Playfair Display', serif;
$montsterrat: 'Montserrat', sans-serif;
$brushtip: 'brushtip';