.owl-slider-banner {
	.item {
	    width: 100%;
	    height: 88vh;
	    display: block;
	    background-position: top;
	    background-size: cover;


			@media(max-width: 991px) { 
			background-position: bottom;
			    background-size: cover;
			}

			@media(max-width: 767px) { 
			background-position: center;
			}

	    .banner-text {
		    color: #fff;
		    width: 40%;
		    display: block;
		    text-align: center;
		    padding-top: 15%;
		    margin: 0 auto;

			@media(max-width: 991px) { 
				padding-top: 6%;
				width: 90%;
			}
			@media(max-width: 767px) { 
				padding-top: 20%;
			}

		    h2 {

	    		font-family: $brushtip;
		    	font-size: 3rem;
		    	text-shadow: 7px 2px 1px #2a3461;
				@media(max-width: 767px) { 
					font-size: 2rem;
				    text-shadow: 2px 2px 1px #2a3461;
				}

		    }

		    p {
		    	font-family: $montsterrat;
		    	font-size: 18px;
    			text-shadow: 2px 2px 1px #000000;
				@media(max-width: 767px) { 
				    font-size: 16px;
				    text-shadow: -1px 2px 1px #000000;
				}
		    }
	    }
	}
}