/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container {
	// width: 320px;
	height: 282px;
	@media(max-width: 991px) { 
		height: 250px;
	}
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.blog-item {
    margin-top: 30px;
    // border: 1px solid #ccc;


	@media(max-width: 991px) { 
		margin-top: 0;
	}
	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	    background-color: aliceblue;
	    width: 100%;
		background-position: center;
	    background-size: cover;

	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	    background-color: #fff;
	    width: 100%;
	}

}

.front {
    background-color: #fff;
    width: 100%;

    p {
	    color: #fff;
	    font-family: "Montserrat", sans-serif;
	    text-transform: uppercase;
	    text-shadow: 1px 1px #5f5d5d;
	    font-weight: bold;
	    -webkit-font-smoothing: antialiased;
	    font-size: 16px;
	    position: absolute;
	    width: 70%;
	    top: 43%;
	    left: 0;
	    background-color: rgba(0,0,0,0.3);
	    padding: 10px 5px;
	}
}

.back {
    background-color: beige;
    width: 100%;
    padding: 15px;
    color: #293462;

    h3 {
	    font-size: 24px;
	}

	a {
	    font-size: 16px;
	    color: #a64942;
	    text-decoration: underline;
	}

	p {
		font-size: 14px;

		@media(max-width: 991px) { 
			font-size: 15px;
		}
	}

}

.front, .back {
    height: 280px;
	@media(max-width: 991px) { 
		height: 220px;
	}
}