.btn-xl {
    font-size: 1.3rem;
    padding: 10px 15px;
}

.btn-red {
	background-color: $darkRed;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 30px;

	&:hover, 
	&:focus, 
	&:active {
	    outline: none;
	    box-shadow: none;
	    color: #fff;
	    background-color: #ca3229;
	}
}