.card {
    overflow: hidden;

    .post-image-wrapper {
        position: relative;
        height: 225px;
        overflow: hidden;
        transition: .5s all;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

        &:hover {
            .post-img-item {
                -ms-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }

            .overlay {
                opacity: 1;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            text-align: center;
            padding-top: 100px;
            background-color: rgba(0,0,0,0.2);
            opacity: 0;

            a {
                color: #fff;
            }
        }

    }


    .card-text {
        line-height: 1.5;
        font-size: 1rem;
    }

}


/* Image zoom on hover + Overlay colour */
.parent {
    height: 280px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;

    .child {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

        a {
            display: none;
            font-size: 18px;
            color: #ffffff !important;
            font-family: sans-serif;
            text-align: center;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            cursor: pointer;
            /*text-decoration: none;*/
        }
    }
}


.parent:hover .child, 
.parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
}


.property-item {
    border-radius: 0;
    overflow: hidden;
    height: 430px;
    border: 1px solid #e4e5e6;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
    @media(max-width: 767px) { 
        height: 340px;
    }
	.card-body {
        padding: 0;
        min-height: 130px;

		.features {
            height: 32px;
            background-color: #a64942;

			ul {
			    padding-left: 0;
			    margin: 0;

			    li {
                    list-style: none;
                    display: inline-block;
                    width: calc(100%/3);
                    float: left;
                    text-align: center;
                    height: 32px;
                    padding: 5px;
                    border-right: 1px solid #9c362e;

				    &:last-child {
					    border: 0;
					}

				    p {
                    margin-bottom: 0;
                        font-size: 16px;
                        color: #ffffff;
                        // text-shadow: 0 0 black;


					}

				}
			}
		}



		.details {
		    padding: 12px;

		    p {
                font-size: 14px;
                /* font-family: "Montserrat", sans-serif; */
                color: #2b3461;
                margin-bottom: 0;

                i,span {
                    margin-right: 8px;
                }

                 &.address {
                    i {
                        margin-right: 13px;
                        font-size: 17px;
                    }
                 }

			    &.name {
				        font-size: 16px;
                                font-weight: bold;
				}
                &.price {
                    color: #ae3120;
                    font-size: 16px;
                    margin-top: 10px;
                }
			}
		}
	    
	}

    &.video-item {
        .card-body {
            min-height: 60px;
            padding: 0;

            .details {
                p {
                    &.name {
                       font-size: 15px; 
                    }
                }
            }
        }
    }

    .property-item.video-item .card-body .details p.name {
        font-size: 15px;
    }

    .property-item.video-item .card-body {
        padding: 0;
    }

}


.city-wrapper {
    height: 200px;
    overflow: hidden;
    width: 100%;
    display: block;

	.city-img {
        height: 220px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s;
	}

	.city {
        background-color: #a64942;
        position: absolute;
        bottom: 40px;
        max-width: 100%;
        min-width: 45%;
        font-size: 16px;
        padding: 5px 10px;
        color: #fff;
        transition: all 0.8s;
        text-transform: uppercase;
	}

    &:hover {
        .city-img {
            transform: scale(1.3);
        }

        .city {
            // width: 89.5%;
            text-align: center;
            opacity: 0.7;
        }
    }
}
