.category-page {
	.section-title {
		color: $blue;
	}
}

.provinces-text {
    font-size: 17px;
    color: #2a3462;
    text-transform: uppercase;
    padding-left: 10px;
}

.provinces {
    li {
    	a {
		    color: #2a3462;
		    font-family: "Montserrat", sans-serif;
		    padding: 10px;
		    display: block;
		    margin: 0 1px;
		    width: 100%;
		    float: left;
		    padding: 10px !important;

		    &:hover {

			    color: #fff;
			    background-color: #293462;
		    }
    	}

    	&.active {
    		a {
			    color: #fff;
			    background-color: #293462;
    		}
    	}
    }
}

.location-mobile {
	.dropdown-menu {
		width: 100%;
	}
}