.page-link, .page-item.disabled .page-link {
    border: 1px solid #a64942;
}

.page-link, .page-link a {
    color: #a64942;
}

.page-link:hover, .page-link:hover a {
    background-color: #a64942;
    border-color: #a64942;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #a64942;
    border-color: #a64942;
}

.pagination-custom {
	.page-link a {
	    padding: 8px 14px;
	    display: inline-block;
	}

	span.page-link {
	    padding: 0;
	}

	.page-item.active .page-link {
	    padding: 8px 14px;
	    display: inline-block;
	}
}