.photogallery {
	#sync1 {
		height: 70vh;
	  .item {
	    background: #0c83e7;
	    padding: 80px 0px;
	    margin: 5px;
	    color: #FFF;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    text-align: center;
	  }
	}

	#sync2 {
	  .item {
	    background: #C9C9C9;
	    padding: 10px 0px;
	    margin: 5px;
	    color: #FFF;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    text-align: center;
	    cursor: pointer;
	    h1 {
	      font-size: 18px;
	    }
	  }
	  .current .item{
	    background: #0c83e7;
	  }
	}



	.owl-theme {
	  .owl-nav {
	    /*default owl-theme theme reset .disabled:hover links */
	    [class*='owl-'] {
	      transition: all .3s ease;
	      &.disabled:hover {
	       background-color: #D6D6D6;
	      }   
	    }
	    
	  }
	}

	//arrows on first carousel
	#sync1.owl-theme {
	  position: relative;
	  .owl-next, .owl-prev {
	    width: 22px;
	    height: 40px;
	    margin-top: -20px;
	    position: absolute;
	    top: 50%;
	  }
	  .owl-prev {
	    left: 10px;
	  }
	  .owl-next {
	    right: 10px;
	  }
	}
}