.search-wrapper {
    width: 550px;
    max-width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
    padding: 20px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    top: 50%;
    z-index: 1;

	@media(max-width: 767px) { 
		width: 100%;
	    top: unset;
	    bottom: 0;
	    padding: 10px;	    
	    background-color: #444444;

	}

    h2 {
	    color: #fff1c1;
	    font-family: 'Roboto', sans-serif;
	    margin-bottom: 30px;
	}

	.form-control {
	        height: 40px;
	    border: 0;
	    border-radius: 0;

	    &:hover,.search-wrapper &:focus, .search-wrapper &:active {
		    outline: none;
		    box-shadow: none;
		}

	}
	.btn {
		font-size: 17px;
	    padding: 6px 11px;
	    font-weight: bold;
	    font-family: 'Roboto', sans-serif;
	    border-radius: 0;
	}
}

