.section {
    padding: 40px 0;
}

.blue-section {
    background: rgb(240, 248, 254, 0.3);
    background-image: url('../../images/purple.svg');
	background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(243, 243, 245);
}

.yellow-section {
    background: beige;
    // background-image: url('../../images/bg-smoke.jpg');
	background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    // border-bottom: 1px solid rgb(243, 243, 245);

    .section-title {
    	color: #293462;
    }
}

.section-featured h3,
.section-featured p {
    color: #000;
}


.section-location h3, 
.section-location p {
    color: #000;
}


.section-agent {

    color: #fff;
    font-size: 18px;

	h3 {
	    color: #fff;
	}

	h2 {
	    font-size: 26px;


		@media(max-width: 767px) { 
		    font-size: 20px;
		}

	}

	h4 {
	    font-size: 18px;

		@media(max-width: 767px) { 
    		font-size: 14px;
		}
	}

	
	a {
		color: #fff;
		&:hover {
		    text-decoration: none;
		}
	}

	.agent-info-left {
	    text-align: center;

	    .img-agent {
	    	img {
			    margin: 0 auto;
			}

	    }
	}

	.img-agent {
	    overflow: hidden;
	    border-radius: 50%;
	    height: 200px;
	    width: 200px;
	    text-align: center;
	    display: block;
	    margin: 0 auto;

		@media(max-width: 767px) { 
		    width: 100px;
		    height: 100px;
		    margin: auto;
		}
	}

	p {
    	margin-bottom: 10px;
		font-size: 16px;

		@media(max-width: 767px) { 
    		font-size: 13px;
		}

		i {

		    margin-right: 10px;
		    font-size: 24px;
		}

		a {
			&:hover {
			    text-decoration: none;
			}
		}
	}

	.property-item {
	    // background-color: #ad251d;
	    height: 263px;
	    border: 0;


		@media(max-width: 767px) { 
    		height: 190px;
		}

		.parent {
		    height: 200px;
			@media(max-width: 767px) { 
	    		height: 500px;
			}
		}

	    .card-body {
			min-height: 63px;

	    	.details {
			    padding: 5px;
			}

			.features {
    			background-color: #a64942;


				@media(max-width: 767px) { 
		    		height: 190px;
				}

				.name {
					color: #ffffff;
				    text-transform: uppercase;
				    text-align: center;
				    padding: 7px;
				}
			}
	    }
	}

	.form-control {
	    border: 0;
	    border-radius: 0;
	    font-size: 14px;


		&:focus,&:active {
		    outline: none;
		    box-shadow: none;
		}	


	}

}

.section-testimonials {
	background-image: url('../../images/asrfamily.jpg');
	background-position: top;
    min-height: 400px;
    position: relative;
    color: #fff;
    padding: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;

	&:before {
		content: "";
		width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.8);
	    min-height: 400px;
	    display: block;
	    position: absolute;
	    top: 0;		
	}


	.testimonial-item {

	    margin-top: 0;
		text-align: center;

		.comment {
		    font-size: 16px;
		    margin-bottom: 15px;
		    font-family: "Montserrat", sans-serif;
		    font-style: italic;


				@media(max-width: 767px) { 
		    		font-size: 14px;
				}

		}
		
		.client-img {
		    width: 70px;
		    height: 70px;
		    margin: 0 auto;
		    border-radius: 50%;
		    display: block;
		}

		.client-img img {
		    border-radius: 50%;
		}

		.client-name {
		    font-size: 20px;
		}
	}


}

.owl-carousel {
	.owl-nav {
	    display: none;
	}

	.owl-dot {
	    width: 8px;
	    height: 8px;
	    display: block;
	    background-color: #ffffff !important;
	    display: inline-block;
	    border-radius: 50%;
	    margin: 8px;
	    position: relative;

	    &.active {

			&:hover,
			&:focus,
			&:active {
			    outline: none;
			    box-shadow: none;
			}

			&:before {
				content: "";
				width: 16px;
				height: 16px;
				border: 1px solid #fff;
				border-radius: 50%;
				position: absolute;
				top: -4px;
				left: -4px;
			}

		}
	}

	.owl-dots { 
		display: block;text-align: center;

		
	}
}

.rating-wrapper {

	h6, 
	p {
	color: #2a3461;
    margin-bottom: 0;
    z-index: 9999;
    display: block;
	}


	p {
		font-size: 12px;
	}

	.rating {
	    text-align: center;

		.clip-star {
		  background: gold;
		  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		  display: inline-block;
		  height: 30px;
		  width: 30px;
		}
	}
}

.accredited-developer {
	.section-title {
	    color: #000;
	}
}

.video-page {
	padding-top: 40px;
}

.video-item {
    margin: 10px;
    height: 350px !important;

    p{ 
    	margin-top: 10px;
	    font-size: 17px;
	    color: #2a3462;
	    text-transform: uppercase;
	    text-align: center;
    }

	.name {
	    margin-top: 0;
	}

	// .icon-play {
	//     left: 21px;
	//     top: 8px;
	//     width: 0;
	//     height: 0;
	//     border-top: 15px solid transparent;
	//     border-bottom: 15px solid transparent;
	//     border-left: 30px solid white;
	//     position: absolute;
	// }
	
	.thumbnail {
	    height: 100%;
	    background-position: center;
	    background-size: cover;

	    a {
		    height: 100%;
		    bottom: 0;
		    position: absolute;
		    width: 100%;
		    text-align: center;
		    left: 0;
		    right: 0;

		    .youtube {
		    	background-image: url('../../images/youtube.png');
			    width: 60px;
			    height: 60px;
			    display: block;
			    background-size: 100%;
			    margin: 100px auto;
			}
		}
	}

}

.aboutus-banner {
	.owl-carousel {
		.item {
		    height: 80vh;
		    background-size: 100%;
		    background-position: inherit;
		    display: block;
		}
	}
}

.about-description {
	.section-title {
		color: $blue;
	}

	.body {
		color: $blue;
	}

	.blue-section {
		background: rgba(227, 235, 241, 0.3);
	}
}

.awards-section {
	.section-title {
	    color: $blue;
	}
	
	.award-item {
	    width: 80%;
	    margin: 0 auto;
	    /* border: 1px solid #ccc; */
	    height: 140px;
	    background-size: cover;
	    background-position: top;
	    background-repeat: no-repeat;
	    box-shadow: 0 0 4px black;
	}

	.award-item:nth-child(3) {
	    width: 45%;
	}
}

