.sold-properties {
	.badge {
		background-image: url('../../images/sold.png');
		position: absolute;
		    top: 15px;
		    left: 15px;
		    width: 73px;
		    height: 100px;
		    display: block;
		    background-size: contain;
		    background-repeat: no-repeat;
		    text-align: center;
		    padding-top: 25px;
		    color: #ae3120;
		    text-shadow: 1px 0 rgba(0,0,0,0.5);
	}

	.parent {
		.child {
		    background-position: top;
		}
	}
}