.icon-messenger {
    background-image: url(../icon/messenger.png);
    height: 38px;
    width: 38px;
    position: absolute;
    left: 5px;
    background-size: 100%;
    top: -1px;
}
.home-banner {
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: block;
    background-size: cover;
    background-position: center;
    background-color: #254E58;
    position: relative;

}
.home-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50.5%) translateY(-55%);
}
.home-banner .home-banner-desc {
    position: absolute;
    bottom: 7rem;
    color: #fff;
    width: 45%;
    background-color: rgba(22, 38, 41, 0.78);
    padding: 20px;
}
.home-banner .home-banner-desc h1 {
    font-size: 55px;
    font-weight: 100;
}
.single-banner-title {
    position: absolute;
    bottom: 75px;
}
.single-banner-title h1 {
    color: #fff;
}
.singlepage-height {
    min-height: calc(100vh - 457px);
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-brand:hover {
    color: #d0cece;
}
.main-navbar {
    height: 8vh;
    right: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg,rgba(34,47,58,0),rgba(34,47,58,2.9));
    z-index: 1;
    background-color: #254E58;
}
.main-navbar .navbar-nav .nav-link {
    color: #fff;
    padding-left: 15px;
    position: relative;
    width: fit-content;
    border: solid 2px transparent;
    content: "";
    height: 4px;
}
.main-navbar .nav-item .nav-link:hover {
    color: #d0cece;
}
.main-navbar .nav-item .nav-link:hover:after {
    border: solid 2px #88BDBC;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
}
.main-navbar .btn-custom {
    color: #fff;
    background-color: #254E58;
    border-color: #254E58;
}
.main-navbar .btn-custom:hover {
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}
.main-navbar .btn-custom:focus {
    box-shadow: none;
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}
.view-more .btn-custom {
    color: #fff;
    background-color: #254E58;
    border-color: #254E58;
}
.view-more .btn-custom:hover {
    color: #fff;
    background-color: #2e7384;
    border-color: #2e7384;
}
.main-navbar .nav ul li a {
    font-weight: 500;
    font-size: 18px;
}
.main-navbar .nav .contact-us {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.section {
    padding: 20px 0;
}
.section-title:after {
    border: solid 2px #88BDBC;
    content: "";
    width: 40%;
    height: 4px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.accredited-developer .developers-logo img {
    width: 50%;
}
.section-title {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    width: fit-content;
    margin: auto;
}
.project-block {
    border: solid 1px #a3a8ad;
    margin-bottom: 4rem;
}
.project-block img {
    width: 100%;
    height: 100%;
}
.project-body {
    padding: 15px;
}
.project-body p {
    margin-bottom: 0;
}
.project-body h3 {
    font-size: 20px;
    font-weight: 500;
}
.project-body h3 span {
    font-size: 18px;
    font-weight: 400;
}
.project-body h3 a {
    color: #000;
}
.project-image {
    height: 350px;
    overflow: hidden;
}

.featured-image img {
    width: 100%;
}
.new-projects .view-more {
    padding: 42px 0;
}

.breadcrumb {
    background-color: transparent;
    padding: .75rem 0;
}
.project-pages .project-image {
    height: 280px;
}
/*******Home Page******/
.featured-projects .featured-desc {
    padding: 45px 0;
    color: #fff;
}
.featured-projects .featured-image {
    padding: 45px 0;
}
.featured-projects {
    background-color: #254E58;
}
.featured-projects h2 {
    color: #fff;
}

.single-banner {
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: block;
    background-size: cover;
    position: relative;
}
.single-banner .overlay {
    position: absolute;
    height: 400px;
    background-color: #000;
    width: 100%;
    opacity: 0.5;
}
.breadcrumb {
    position: absolute;
    bottom: 1px;
}
.breadcrumb .breadcrumb-item a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb-item.active {
    color: #808080;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #808080;
    content: "/";
}
.project-page-body {
    margin-top: 25px;
}
img {
    width: 100%;
}
/*******About Us Page******/
.aboutus-banner {
    background-image: url(../img/about-us.jpg);
    background-position: top;
    height: 825px;

}
.aboutus-banner .overlay {
    position: absolute;
    height: 400px;
    background-color: #000;
    width: 100%;
    opacity: 0.5;
    height: 825px;
}
.aboutus-banner .single-banner-title {
    position: absolute;
    bottom: 100px;
}
/*******House and Lot******/
.house-lot-banner {
    background-image: url(../img/house-lot-banner.jpg);
    background-position: center;
}
.houseandlot-body {
    margin-bottom: 5rem;
}
.houseandlot-body ul {
    list-style: none;
    padding-inline-start: 0;
}
.houseandlot-body .nav-link {
    padding: .5rem 0;
    display: inline;
}
.project-pages h2 {
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: bold;
}
.houseandlot-body .max-width {
    max-width: 100%;
}

/*******Condominium******/
.condominium-banner {
    background-image: url(../img/astra.jpg);
    background-position: center;
}

/*******Contact Us******/
.contactus-banner {
    background-image: url(../img/contactus.jpg);
    background-position: bottom;
}
.contactus-right {
    border: solid 1px #254E58;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.contactus-right-title {
    border-bottom: solid 1px #254E58;
    padding: 10px 35px;
}

.phone {
    border-bottom: solid;
    border-bottom: solid 1px #254E58;
}

.office {
    border-bottom: solid 1px #254E58;
    padding-top: 15px;
}
.contactus-right-body {
    padding: 35px;
}
.fb-page {
    padding-top: 15px;
    word-break: break-word;
}
.send-message-navbar {
    margin-left: 15px;
}
.contactus-body .form-control:focus {
    border-color: #254E58;
    box-shadow: none;
}
/*******Project Page******/
.project-page {
    padding-top: 0;
}
.project-page-banner {
    background-image: url(../img/robins-lane.jpg);
    background-position: center;
}
.project-page-tabs .nav-tabs {
    border-bottom: none;
}

.project-page-tabs {
    background-color: #696666;
    height: 8vh;
}
.project-page-tabs .nav-tabs .nav-item .nav-link {
    margin-top: 12px;
    color: #fff;
    margin-right: 70px;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
}
.project-page-tabs .nav-tabs .nav-item .nav-link:hover {
    border-bottom: solid 3px #88BDBC;
}
.project-page-tabs .nav-tabs .nav-item .nav-link.active {
    border-bottom: solid 3px #88BDBC;
    color: #cecbcb;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.project-gallery img {
    width: 100%;
    border: solid 1px #254E58;
    height: 370px;
}
.project-page-body .project-gallery .first-row {
    margin-bottom: 3rem;
}
/*******Footer********/
.footer {
    background-color: #254E58;
    height: 40px;
    color: #fff;
    padding-top: 8px;
    text-align: center;
}
.footer-send-message .messenger-btn {
    margin-bottom: 15px;
    font-size: 20px;
    position: fixed;
    right: 10px;
    bottom: 0;
    padding-left: 50px;
    padding-top: 0;
}
.footer p {
    margin: 0;
}
.footer .social-media a {
    margin-left: 15px;
    margin-left: 15px;
    color: #fff;
    font-size: 20px;
}
/* 

====== Zoom effect ======

*/
.image-popups img {
    cursor: zoom-in;
}
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

.overlay-image {
        position: absolute;
        bottom: 63px;
        left: 0;
        right: 0;
        width: 95%;
        height: 0;
        background-color: rgba(0, 150, 136, 0.77);
        text-align: center;
        margin: auto;
        opacity: 0;
}

.overlay-image a {
    top: 220px;
    color: #fff;
    position: absolute;
    right: 185px;
}
.overlay-image .fa-external-link {
    margin-left: 15px;
}
.project-block:hover .overlay-image {
    color: #fff;
    height: 89%;
    transition: .5s all;
    font-size: 28px;
    opacity: 1;
}
.project-block:hover .overlay-image .fa-external-link {
    margin-right: 10px;
}

/*****House and lot overly*****/
.project-pages .overlay-image {
    bottom: 65px;
    width: 93.1%;
}
.project-pages .project-block:hover .overlay-image {
    height: 87%;
}
.project-pages .project-block:hover .overlay-image .fa-external-link {
    margin-right: 10px;
}
.project-pages .overlay-image a {
    top: 180px;
    right: 135px;
}


