body {
	font-size: 14px;
	color: #c5c2c2;
	font-family: $roboto;
}

@font-face {
  font-family: 'brushtip';
  src: url('../../fonts/brushtip.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/brushtip.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/brushtip.otf') format('otf'), /* Pretty Modern Browsers */
       url('../../fonts/brushtip.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h1 {
	color: $blue;
}

p {
	font-size: 16px;
}

.bg-yellow {
	background-color: $lightYellow;
}

.bg-blue {
	background-color: $blue;
}

.bg-red {
	background-color: $red;
}

.form-control:focus,
.form-control:active, 
.form-control:hover {
    box-shadow: none;
    outline: none;
}

footer {
	.site-credit-link {
		color: $blue;
	}
}

